REGISTRY=cr.yandex/crpXXXXXXXXXXXXXXXXX
IMAGE_TAG=latest

VM_HOST=51.250.0.0

SECRET_KEY=replace-with-openssl-rand-hex-32

POSTGRES_PASSWORD=postgres
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=admin12345
